

.block1 {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    left: 20%;
    background-color: blue;
    animation: move 2s infinite alternate ease-in-out;
}

.block2 {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(50%, -50%);
    width: 100px;
    height: 100px;
    background-color: blue;
}

@keyframes move {
    0% {
        transform: translateY(30vh);
    }
    100% {
        transform: translateY(60vh);
    }
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: yellow;
    position: absolute;
}
